/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Updated font */
}

/* Container styles */
.container {
    border: 1px solid #ddd; /* Softer border color */
    background-color: #F8F8F8; /* Light gray background */
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

/* Title styles */
h3 {
    float: right;
    width: 30%;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Softer border color */
    border-left: 1px solid #ddd; /* Softer border color */
    font-size: 125%;
    background-color: #FFD700; /* Pastel yellow background */
}

/* Heading styles */
h1 {
    padding: 2%;
    text-align: center;
    font-size: 175%;
    color: #3498db; /* Pastel blue text color */
    background-color: #ecf0f1; /* Pastel blue background */
    transition: background-color 0.3s ease, color 0.3s ease; /* Added color transition */
    border: 1px solid #ddd; /* Softer border color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

h1:hover {
    background-color: #2980b9; /* Darker blue on hover */
    color: #fff; /* White text on hover */
}

/* Paragraph styles */
p {
    padding: 4%;
    clear: right;
    font-size: 100%;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

/* Media queries for responsive design */
@media (min-width: 992px) {
    /* Desktop view styles */
    .col-lg-4 {
        width: 33.33%;
        float: left;
        padding: 1.5%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    /* Tablet view styles */
    .col-md-6 {
        width: 50%;
        float: left;
        padding: 1.5%;
    }

    .col-md-12 {
        width: 100%;
        float: left;
        padding: 1.5%;
    }
}

@media (max-width: 767px) {
    /* Mobile view styles */
    .col-sm-12 {
        width: 100%;
        float: left;
        padding: 1.5%;
    }
}
