body {
    color: #1c1c20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #f8e4e4, #e4e4f8);
}

.navbar {
    border: 0;
    border-radius: 15px;
}

.navbar-light .navbar-brand {
    color: #1c1c20;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    color: #1c1c20;
}

section {
    border: 1px solid #1c1c20;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 5%;
    background-color: #f8f8e4;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.navbar-nav a {
    color: #1c1c20;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar-nav a:hover {
    color: #e4e4f8;
}

/* Subtle sparkle effect */
body::before {
    content: "";
    position: fixed;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1) 5px,
        transparent 5px,
        transparent 10px
    );
    z-index: -1;
    opacity: 0.8;
}

/* Back to Top button style */
.back-to-top {
    display: inline-block;
    padding: 8px 16px;
    background-color: #1c1c20;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out;
}

.back-to-top:hover {
    background-color: #e4e4f8;
}

/* Hide only the menu in the navbar on desktop version */
@media (min-width: 768px) {
    .navbar-nav {
        display: none;
    }
}
