@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

/* Global styles */
body {
    background-image: url("assets/5630655.jpg"); /* Adjusted path */
    background-size: cover; /* Ensure the background image covers the entire container */
    background-repeat: no-repeat;
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    max-height: calc(100vh - 40px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Left half styles */
.left-half {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Right half styles */
.right-half {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quote-box {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    width: calc(50% - 30px); /* Adjusted width to fit within the left half */
    max-width: calc(100% - 80px); /* Adjusted max-width to prevent overflow */
    margin-right: 20px; /* Adjusted margin-right to create space between the quote box and the table */
    white-space: normal; /* Allow long quotes to wrap to the next line */
    overflow-wrap: break-word; /* Wrap long words within the quote box */
    height: 25%;
    /* Center the quote box on the bottom left side */
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
}

.quote-box:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.quote-box.loaded {
    opacity: 1;
}

/* Notepad styles */
.notepad {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    overflow-y: auto; /* Make notepad scrollable */
}

.notepad ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    text-align: left;
}

.notepad ul li {
    margin-bottom: 10px; /* Add some spacing between list items */
    word-wrap: break-word; /* Ensure long text wraps inside the notepad box */
}

/* Typography */
h1 {
    font-weight: 800;
    margin: 1rem 0 0;
}

/* Table styles */
table {
    border-collapse: collapse;
    background: transparent;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    padding: 0;
    text-align: center;
}

/* CSS for Sundays and Saturdays */
th.data-day:nth-child(1),
th.data-day:nth-child(7),
td.data-day:nth-child(1),
td.data-day:nth-child(7) {
    color: #ff3254; /* Soft pink text color */
}



/* Adjusted table cell styling */
.date {
    position: relative; /* Add position relative for absolute positioning */
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: font-size 0.3s ease, font-weight 0.3s ease; /* Add transition property */
}

.date:hover {
    font-weight: bold; /* Make the font bold on hover */
}

.date .emoji {
    position: absolute;
    font-size: 16px;
    cursor: pointer;
}

.date .emoji:first-child {
    top: 5px;
    left: 5px;
}

.date .emoji:nth-child(2) {
    bottom: 5px;
    left: 5px;
}


.date .emoji.active {
    opacity: 1; /* Show emoji when active */
}

.holiday {
    color: #ff0000;
}

.emoji-layer {
    position: absolute;
    z-index: 1;
    padding: 5px;
    display: none;
}

.emoji-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
}

.emoji-btn:hover {
    opacity: 1;
    transform: scale(1.5); /* Enlarge the emoji when hovering */
}

.emoji-layer .emoji-btn {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.emoji-btn:hover .emoji {
    transform: scale(1.2); /* Enlarge the emoji when hovering */
}

.emoji-btn .emoji {
    transition: transform 0.3s ease; /* Add transition for transform */
}

/* Adjusted position of the emojis in the circle layout */
.emoji-layer .emoji-btn:nth-child(1) {
    transform: rotate(0deg) translateY(-50px) rotate(0deg);
}
.emoji-layer .emoji-btn:nth-child(2) {
    transform: rotate(40deg) translateY(-50px) rotate(-40deg);
}
.emoji-layer .emoji-btn:nth-child(3) {
    transform: rotate(80deg) translateY(-50px) rotate(-80deg);
}
.emoji-layer .emoji-btn:nth-child(4) {
    transform: rotate(120deg) translateY(-50px) rotate(-120deg);
}
.emoji-layer .emoji-btn:nth-child(5) {
    transform: rotate(160deg) translateY(-50px) rotate(-160deg);
}
.emoji-layer .emoji-btn:nth-child(6) {
    transform: rotate(200deg) translateY(-50px) rotate(-200deg);
}
.emoji-layer .emoji-btn:nth-child(7) {
    transform: rotate(240deg) translateY(-50px) rotate(-240deg);
}
.emoji-layer .emoji-btn:nth-child(8) {
    transform: rotate(280deg) translateY(-50px) rotate(-280deg);
}
.emoji-layer .emoji-btn:nth-child(9) {
    transform: rotate(320deg) translateY(-50px) rotate(-320deg);
}

.highlight {
    animation: highlight 2s linear;
}

@keyframes highlight {
    0% {
        background-color: yellow;
    }
    100% {
        background-color: transparent;
    }
}
.edit-icon,
.save-icon,
.delete-icon {
    display: inline-flex;
    width: 16px; /* Set the width of the icons */
    height: 16px; /* Set the height of the icons */
    margin-left: 4px;
    padding: auto;
    opacity: 0.5; /* Set initial opacity of the icons */
    transition: opacity 0.3s ease; /* Add transition effect for opacity */
    cursor: pointer; /* Set cursor to pointer for interaction */
}

.edit-icon:hover,
.save-icon:hover,
.delete-icon:hover {
    opacity: 1; /* Set opacity to 1 on hover */
}

/* Media query for responsive mode */
@media screen and (max-width: 768px) {
    body {
        background-image: url("assets/Neutral%20phone%20background%20HD%20floral.jpg"); /* Adjusted path */
        background-size: cover;
        background-repeat: round;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px;
        overflow-y: auto; /* Allow vertical scrolling */
    }

    .left-half,
    .right-half {
        width: 100%;
    }

    .quote-box {
        display: none; /* Hide quote box in responsive mode */
    }
}
