@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
    background-image: url("assets/5630655.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Background image remains fixed */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the dropdown button */
.dropbtn {
    background-color: transparent; /* Updated to transparent */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    position: relative;
}

.line1, .line2, .line3 {
    width: 30px;
    height: 3px;
    background-color: #fff; /* Updated color to white */
    margin: 6px 0;
    transition: 0.4s;
}

/* Animation for the "X" shape */
.dropbtn.active .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.dropbtn.active .line2 {
    opacity: 0;
}

.dropbtn.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.3); /* Updated background color */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.3); /* Updated background color */
}
   
/* Container styles */
.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly */
    align-items: flex-start; /* Align items to the top */
    width: 90%; /* Adjusted width for better responsiveness */
    max-width: 1200px;
    margin: 20px auto; /* Center the container */
    position: absolute; /* Position absolutely */
    text-align: center; /* Center align text */
    top: 50%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Center the container precisely */
    width: 80%; /* Adjusted width */
    max-width: 1200px; /* Maximum width */
    height: 80vh; /* Adjusted height */
    max-height: calc(100vh - 40px); /* Maximum height */
    background: rgba(255, 255, 255, 0.5); /* Background color with transparency */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow */
    border-radius: 10px; /* Border radius */
    display: flex; /* Display as flex container */
    gap: 20px; /* Gap between flex items */
    padding: 20px; /* Padding */
}


/* Left half styles */
.left-half {
    width: 50%; /* Set initial width to 50% */
    max-width: 50%; /* Set initial max-width to 50% */
}

/* Right half styles */
.right-half {
    width: 50%; /* Set initial width to 50% */
    max-width: 50%; /* Set initial max-width to 50% */
}

/* Quote box styles */
.quote-box {
    padding: 15px; /* Adjusted padding */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    width: auto; /* Adjusted width to take up 50% of the container minus margins */
    margin-top: 20px; /* Added margin to create space between elements */
    margin-right: 20px; /* Adjusted margin-right to create space between the quote box and the table */
    margin-left: 20px;
    white-space: normal; /* Allow long quotes to wrap to the next line */
    overflow-wrap: break-word; /* Wrap long words within the quote box */
    max-height: 50%; /* Limit maximum height */
    font-size: 14px; /* Reduce font size for smaller content */
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
}




.quote-box:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.quote-box.loaded {
    opacity: 1;
}

/* Notepad styles */
.notepad {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto; /* Make notepad scrollable */
    position: absolute; /* Keep the notepad within the container */
    top: 20px; /* Adjust top spacing */
    right: 20px; /* Align the notepad to the right */
    bottom: 20px; /* Adjust bottom spacing */
    width: calc(45% - 20px); /* Set the width to half of the container minus padding */
}

.notepad ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    text-align: left;
}

.notepad ul li {
    margin-bottom: 10px; /* Add some spacing between list items */
    word-wrap: break-word; /* Ensure long text wraps inside the notepad box */
}

/* Typography */
h1 {
    font-weight: 800;
    margin: 1rem 0 0;
}

/* Table styles */
table {
    border-collapse: collapse;
    background: transparent;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    padding: 0;
    text-align: center;
}

/* CSS for Sundays and Saturdays */
th.data-day:nth-child(1),
th.data-day:nth-child(7),
td.data-day:nth-child(1),
td.data-day:nth-child(7) {
    color: #ff3254; /* Soft pink text color */
}



/* Adjusted table cell styling */
.date {
    position: relative; /* Add position relative for absolute positioning */
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: font-size 0.3s ease, font-weight 0.3s ease; /* Add transition property */
}

.date:hover {
    font-weight: bold; /* Make the font bold on hover */
}

.date .emoji {
    position: absolute;
    font-size: 16px;
    cursor: pointer;
}

.date .emoji:first-child {
    top: 5px;
    left: 5px;
}

.date .emoji:nth-child(2) {
    bottom: 5px;
    left: 5px;
}


.date .emoji.active {
    opacity: 1; /* Show emoji when active */
}

.holiday {
    color: #ff0000;
}

.emoji-layer {
    position: absolute;
    z-index: 1;
    padding: 5px;
    display: none;
}

.emoji-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
}

.emoji-btn:hover {
    opacity: 1;
    transform: scale(1.5); /* Enlarge the emoji when hovering */
}

.emoji-layer .emoji-btn {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.emoji-btn:hover .emoji {
    transform: scale(1.2); /* Enlarge the emoji when hovering */
}

.emoji-btn .emoji {
    transition: transform 0.3s ease; /* Add transition for transform */
}

/* Adjusted position of the emojis in the circle layout */
.emoji-layer .emoji-btn:nth-child(1) {
    transform: rotate(0deg) translateY(-50px) rotate(0deg);
}
.emoji-layer .emoji-btn:nth-child(2) {
    transform: rotate(40deg) translateY(-50px) rotate(-40deg);
}
.emoji-layer .emoji-btn:nth-child(3) {
    transform: rotate(80deg) translateY(-50px) rotate(-80deg);
}
.emoji-layer .emoji-btn:nth-child(4) {
    transform: rotate(120deg) translateY(-50px) rotate(-120deg);
}
.emoji-layer .emoji-btn:nth-child(5) {
    transform: rotate(160deg) translateY(-50px) rotate(-160deg);
}
.emoji-layer .emoji-btn:nth-child(6) {
    transform: rotate(200deg) translateY(-50px) rotate(-200deg);
}
.emoji-layer .emoji-btn:nth-child(7) {
    transform: rotate(240deg) translateY(-50px) rotate(-240deg);
}
.emoji-layer .emoji-btn:nth-child(8) {
    transform: rotate(280deg) translateY(-50px) rotate(-280deg);
}
.emoji-layer .emoji-btn:nth-child(9) {
    transform: rotate(320deg) translateY(-50px) rotate(-320deg);
}

.highlight {
    animation: highlight 2s linear;
}

@keyframes highlight {
    0% {
        background-color: yellow;
    }
    100% {
        background-color: transparent;
    }
}
.edit-icon,
.save-icon,
.delete-icon {
    display: inline-flex;
    width: 16px; /* Set the width of the icons */
    height: 16px; /* Set the height of the icons */
    margin-left: 4px;
    padding: auto;
    opacity: 0.5; /* Set initial opacity of the icons */
    transition: opacity 0.3s ease; /* Add transition effect for opacity */
    cursor: pointer; /* Set cursor to pointer for interaction */
}

.edit-icon:hover,
.save-icon:hover,
.delete-icon:hover {
    opacity: 1; /* Set opacity to 1 on hover */
}
/* Responsive mode */

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items horizontally */
    }

    .left-half,
    .right-half {
        width: 100%; /* Set width to 100% for full width */
        max-width: none; /* Remove max-width constraint */
    }

    .notepad {
        position: static; /* Remove absolute positioning */
        overflow-y: auto;
        width: 90%; /* Set width to 90% */
        max-width: none; /* Remove max-width constraint */
        margin-top: 20px; /* Adjust margin-top */
        margin-right: 0; /* Remove right margin */
        margin-left: 0; /* Remove left margin */
        margin-bottom: 20px; /* Add margin-bottom */
        max-height: calc(80vh - 40px); /* Set max-height to 80% of viewport height minus 40px */
    }

    /* Adjust font size for better readability */
    h1 {
        font-size: 24px;
    }

    /* Adjust table styles for smaller screens */
    table {
        margin-top: 10px; /* Reduce top margin */
    }

    /* Adjust date cell size for smaller screens */
    .date {
        width: 40px; /* Reduce width */
        height: 40px; /* Reduce height */
        font-size: 18px; /* Reduce font size */
    }

    .quote-box{
        display: none;
    }
    /* Adjust position of emoji buttons for smaller screens */
    .emoji-layer .emoji-btn {
        width: 30px; /* Reduce button width */
        height: 30px; /* Reduce button height */
        font-size: 14px; /* Reduce font size */
    }

    /* Adjust position of emojis in the circle layout for smaller screens */
    .emoji-layer .emoji-btn:nth-child(1) {
        transform: rotate(0deg) translateY(-30px) rotate(0deg);
    }
    .emoji-layer .emoji-btn:nth-child(2) {
        transform: rotate(45deg) translateY(-30px) rotate(-45deg);
    }
    .emoji-layer .emoji-btn:nth-child(3) {
        transform: rotate(90deg) translateY(-30px) rotate(-90deg);
    }
    .emoji-layer .emoji-btn:nth-child(4) {
        transform: rotate(135deg) translateY(-30px) rotate(-135deg);
    }
    .emoji-layer .emoji-btn:nth-child(5) {
        transform: rotate(180deg) translateY(-30px) rotate(-180deg);
    }
    .emoji-layer .emoji-btn:nth-child(6) {
        transform: rotate(225deg) translateY(-30px) rotate(-225deg);
    }
    .emoji-layer .emoji-btn:nth-child(7) {
        transform: rotate(270deg) translateY(-30px) rotate(-270deg);
    }
    .emoji-layer .emoji-btn:nth-child(8) {
        transform: rotate(315deg) translateY(-30px) rotate(-315deg);
    }
    .emoji-layer .emoji-btn:nth-child(9) {
        transform: rotate(360deg) translateY(-30px) rotate(-360deg);
    }
}
